<p id="notice"><%= notice %></p>

<div class="container">
  <!--render sub navigation bar -->
  <%= render 'tasks/sub_nav' %>

  <%= render "tasks/show_tasks" %>

  <!-- Task add Modal -->
  <%= render partial: 'tasks/new_task_add_modal' %>
</div>
<script>
  var get_all_color = document.getElementById('show-color');
  setCheckColor = (e, get_color) =>{
    e.classList.toggle('bg-dark')
    document.getElementById('select-c').value = get_color;
  }
</script>