// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
// all color of task
.first-color{
	background-color: #02bcf5;
}
.second-color{
	background-color: #0073e6;
}
.third-color{
	background-color: #003ab9;
}
.fourth-color{
	background-color: #002c59;
}
.fifth-color{
	background-color: #09cbcb;
}
